h1 {
  color: blue;
  font-family: 'DancingScriptRegular'; 
  font-size: 400%;
  text-align: center; 
}

p{
  font-family: 'DancingScriptRegular';
  font-weight: normal;
  font-style: normal;
}

i {
  color: darkgreen;
}
