@import url('https://fontlibrary.org/en');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 2;
  background-image: url('https://img.freepik.com/free-vector/flower-background-desktop-wallpaper-cute-vector_53876-136877.jpg?semt=ais_hybrid&w=740');
  background-size: cover;
  background-position: center;
}

/* Header */
header {
  background: pink;
  color: #fff;
  padding: 0;
  text-align: center;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.5em;
}

/* Navigation */
nav ul {
  background-color: purple;
  list-style: none;
  padding: 0;
  text-decoration: underline;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Main content */
main {
  padding: 20px;
  text-align: center;
}

/* Feature */
#feature {
  background-color: #B3D098; 
  background-image: url('https://i.pinimg.com/736x/53/e9/d3/53e9d3f0815fb7a2f81eb2c07ac51d10.jpg'); 
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding: 50px 0;
}

section {
  margin-bottom: 20px;
}

#column-one, #column-two, #column-three {
  display: inline-block;
  width: 30%;
  padding: 20px;
  margin: 10px;
  background-color: #f4f4f4;
  border: 2px solid #ccc;
}

#column-one {
  background-color: #f2b8a0; 
}

#column-two {
  background-color: #E0C3FA; 
}

#column-three {
  background-color: #ADDFFF; 
}

/*footer*/
footer {
  text-align: center;
  padding: 10px;
  background-color: purple;
  color: white;
}







